<section class="main-content">			
	<div class="row">
		<div class="span2">
		  <h3>Informazioni</h3>
      <div class="container">
        <div class="jumbotron">
          <strong>Mittente:</strong>
          <%= @message.nome_mittente %>
          </br>
          <strong>Destinatario:</strong>
          <%= @message.nome_destinatario %></br>
          <strong><%= link_to 'Back', messages_path %></strong>
        </div>
      </div>
    </div>
		<div class="span10">
      <h2><strong><%= @message.titolo %></strong></h2>
      <div class="container">
        <div class="jumbotron">
          <p class="messaggio"><%= @message.testo %></p> 
        </div>
        <%=  link_to 'Rispondi', "/messages/new?destinatario_id=#{@message.destinatario_id}" %>
      </div>
		</div>
  </div>
</section>



