<p id="notice"><%= notice %></p>

<p>
  <strong>Titolo:</strong>
  <%= @message.titolo %>
</p>

<p>
  <strong>Testo:</strong>
  <%= @message.testo %>
</p>

<p>
  <strong>Mittente:</strong>
  <%= @message.mittente_id %>
</p>

<p>
  <strong>Destinatario:</strong>
  <%= @message.destinatario_id %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
