<!-- <h2>Modifica annuncio</h2>
</section>
<%= link_to 'Mostra', @announcement %> |
<%= link_to 'Indietro', announcements_path %> -->




<section class="main-content">			
				<div class="row">
					<div class="span7">					
						<h4 class="title"><span class="text"><strong>Modifica</strong> annuncio</span></h4>
						<!-- <section class="header_text">
	                        <%= render 'form' %>
                        </section> -->


  <%= form_for(@announcement, html: {class: "form-stacked"}) do |f| %>
    <% if @announcement.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>
  
        <ul>
        <% @announcement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <fieldset>
      <div class="control-group">
				<%= f.label "Titolo", class:"control-label" %>
			  <div class="controls">
			    <%= f.text_field :titolo, class:"input-xlarge", :required => true %>
			  </div>
			</div>
			<div class="control-group">
				<%= f.label "Categoria", class:"control-label" %>
			  <div class="controls">
			    <%= f.select :categoria, ['Auto','Accessori auto',
                                    'Moto', 'Accessori moto',
                                    'Attrezzature da lavoro', 'Informatica',
                                    'Fotografia', 'Audio/video',
                                    'Videogiochi', 'Telefonia',
                                    'Mobili', 'Casalinghi',
                                    'Elettrodomestici', 'Abbigliamento',
                                    'Giardinaggio', 'Tutto per bambini',
                                    'Animali', 'Cancelleria',
                                    'Sport', 'Collezionismo'], include_blank: false,  class:"input-xlarge" %>
			  </div>
			</div>
			<div class="control-group">
				<%= f.label "Foto", class:"control-label" %>
			  <div class="controls">
			    <%= f.file_field :foto, accept: 'image/png,image/gif,image/jpeg', class:"input-xlarge"  %>
			  </div>
			</div>
			<div class="control-group">
				<%= f.label "Luogo", class:"control-label" %>
			  <div class="controls">
			    <%= f.text_field :luogo,class:"input-xlarge" %>
			  </div>
			</div>
			<div class="control-group">
				<%= f.label "Descrizione", class:"control-label" %>
			  <div class="controls">
			    <%= f.text_area :descrizione, :rows => 5, style: 'width:50%;',class:"control-label", :required => true %>
			  </div>
			</div>
			<div class="actions">
			  <%= f.submit "Invia",tabindex:"9", class:"btn btn-inverse large", type:"submit", value:"Modifica annuncio" %> || 
			  <%= button_tag "Reset", tabindex:"9", class:"btn btn-inverse large", type: :reset, value:"Reset" %>
			</div>
    </fieldset>
    
  <% end %>

					</div>
				<div class="span5">					
						<h4 class="title"><span class="text"><strong>MAPPA</strong></span></h4>
						<%= render 'mappa' %>
					</div>
				</div>
			</section>	