
		
		
		<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '224682091293960',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
   
   
   
   
   
</script>
		
<center>
	<div class="page-header">
		<h1>Dettagli del prodotto</h1>
  </div>
</center>	
		<section class="main-content">
			<div class="row">
				<div class="span12">
					<div class="row">
						<div class="span4">


						<%= link_to image_tag("#{@announcement.foto}", :alt => 'PRODOTTO'), image_path("#{@announcement.foto}"), class:"thumbnail", "data-fancybox-group" => "group1", :title => "#{@announcement.titolo}", "data-turbolinks" =>"false" %>
							
								<ul class="thumbnails small">
									<li class="span1"></li>
									<li class="span1"></li>
									<li class="span1"></li>
									<li class="span1"></li>
								</ul>
						</div>
						<div class="span8">
							<address>
									<strong>Nome del prodotto:</strong> <span><%= @announcement.titolo %></span><br>
									<strong>Categoria:</strong> <span><%= @announcement.categoria %></span><br>
									<strong>Localizzazione:</strong> <span><%= @announcement.luogo %></span><br>
									<strong>Publicato il:</strong> <span><%= @announcement.created_at %></span><br>
									<strong>Ultima modifica:</strong> <span><%= @announcement.updated_at %></span><br>
									<strong>Numero di visite:</strong> <span><%= @announcement.visite %></span><br>
									<strong>Offerente:</strong> <span><%=link_to @announcement.nome_creatore, "/feedbacks?utente=#{@announcement.id_creatore}", "data-turbolinks" =>"false" %></span><br>
								</address>
								<table height="90%" width="100%" class="controlss" style="margin-bottom: 10px;">
									<td valign="top" id="map" ><%= image_tag("map-loader.gif") %></td>
          			</table>
						</div>
						<div class="span12">
							<center>
								<% if user_signed_in? %>
									<% if current_user.id != @announcement.id_proprietario_id %>
										<form class="form-inline" method="POST" action="/bookings">
											<p>&nbsp;</p>
											<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
											<input type="hidden" name="booking[annuncio_id]" value="<%= @announcement.id %>" />
											<input type="hidden" name="booking[proprietario_id]" value="<%= @announcement.id_proprietario_id %>" />
											<input type="hidden" name="booking[prenotato_id]" value="<%= current_user.id %>" />
											<button class="btn btn-inverse" type="submit">Prenotati</button>
										</form>
									<div id="shareBtn" class="btn btn-inverse">Condividi</div>
									<%= link_to 'Segnala', "/segnala_annuncio?id=#{@announcement.id}", class: "btn btn-inverse", "data-turbolinks" =>"false" %>

									<% else %>
										<% Rails.logger.debug "============================" %>
										<% Rails.logger.debug "#{@announcement.id}" %>
										<% Rails.logger.debug "============================" %>
										<%= link_to 'Modifica', edit_announcement_path(@announcement.id), class: "category", "data-turbolinks" =>"false"%> | <%= link_to 'Elimina', @announcement, method: :delete, data: { confirm: 'Sei sicuro?' }, class: "category", "data-turbolinks" =>"false" %>
									<% end %>
								<% else %>
									<form class="form-inline" >
										<form class="form-inline" method="GET">
											<button class="btn btn-inverse" type="submit" formaction="/users/sign_in">Devi accedere per prenotarti!</button>
										</form>
									</form>
								<% end %>
							</center>
						</div>
					</div>
					<div class="row">
						<div class="span12">
							<ul class="nav nav-tabs" id="myTab">
								<li class="active"><a href="#home">Descrizione</a></li>
								<li class=""><a href="#profile">Informazioni addizionali</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="home">
									<%= @announcement.descrizione %>
								</div>
								<div class="tab-pane" id="profile">
									<table class="table table-striped shop_attributes">
										<tbody>
											<tr class="">
												<th>Nome del prodotto</th>
												<td>
													<%= @announcement.titolo %>
												</td>
											</tr>
											<tr class="alt">
												<th>Categoria</th>
												<td>
													<%= @announcement.categoria %>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="span12">
<h4 class="title">
								<span class="pull-left">
							<span class="text">
								<span class="line">Ultimi <strong>Annunci</strong></span>
								</span>
								</span>
								<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
						</span>
							</h4>
							<div id="myCarousel-2" class="myCarousel carousel slide">
								<div class="carousel-inner">
									<div class="active item">
										<ul class="thumbnails">
											<% Announcement.where("etichetta = 0").order(created_at: :desc).limit(4).each do |announcement| %>
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
															<% if (announcement.foto != "")  =%>
																<p><%= link_to image_tag("#{announcement.foto}", class: "foto_annunci_normalizzate"), announcement, "data-turbolinks" =>"false" %></p>
															<% else %>
																<p><%= link_to image_tag("Temporanei/avatar"), announcement, "data-turbolinks" =>"false" %></p>
															<% end %>
														</p>
														<%= link_to announcement.titolo, announcement, class: "title", "data-turbolinks" =>"false" %><br/>
														<a class="category">[<%= announcement.categoria %>]</a>
													</div>
												</li>
											<% end %>
										</ul>
									</div>
									<div class="item">
										<ul class="thumbnails">
											<% Announcement.where("etichetta = 0").order(created_at: :desc).limit(4).offset(4).each do |announcement| %>
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
															<% if (announcement.foto != "")  =%>
																<p><%= link_to image_tag("#{announcement.foto}", class: "foto_annunci_normalizzate"), announcement, "data-turbolinks" =>"false" %></p>
															<% else %>
																<p><%= link_to image_tag("Temporanei/avatar"), announcement, "data-turbolinks" =>"false" %></p>
															<% end %>
														<%= link_to announcement.titolo, announcement, class: "title", "data-turbolinks" =>"false" %><br/>
														<a class="category">[<%= announcement.categoria %>]</a>
													</div>
												</li>
												<% end %>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
  method: 'feed',
  name: '<%= @announcement.titolo %>',
  picture: '<%= image_url(@announcement.foto) %>',
  link: 'https://smartbucket-maxco93.c9users.io/announcements/<%= @announcement.id %>',
  description: '<%= @announcement.descrizione %>',
  caption: 'SmartBucket'
}, function(response){});
}
</script>
	<script>
		var map;
		var vlat = <%= @announcement.latitude %>;
		var vlng = <%= @announcement.longitude %>;

		function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
				center: {
					lat: vlat,
					lng: vlng
				},
				zoom: 12
			});
			var marker = new google.maps.Marker({
				position: {
					lat: vlat,
					lng: vlng
				},
				map: map,
				title: 'Hello World!'
			});
			marker.setMap(map);
		}
	</script>
	<%= javascript_include_tag 'themes/js/common', "data-turbolinks" =>"false" %>
		<script>
			$(function() {
				$('#myTab a:first').tab('show');
				$('#myTab a').click(function(e) {
					e.preventDefault();
					$(this).tab('show');
				})
			})
			$(document).ready(function() {
				$('.thumbnail').fancybox({
					openEffect: 'none',
					closeEffect: 'none'
				});

				$('#myCarousel-2').carousel({
					interval: 2500
				});
			});
		</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBIKW0xq45fu2dqUZtBMqXps0SrSHJu0c&callback=initMap" async defer></script>

