<center>
	<div class="page-header">
		<h1>I tuoi annunci richiesti</h1>
  </div>
  <% if notice %>
		<div class="alert alert-success">
			<strong><%= notice %></strong>
		</div>
	<% end %>
</center>	

<section class="main-content">				
	<div class="row">
		<div class="span12">
		  <div class="table-responsive">					
			  <table class="table table-striped">
				<thead>
					<tr>
						<th>Foto</th>
						<th>Titolo</th>
						<th>Utente prenotato</th>
						<th>Prenotazione del</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
					<tbody>
					  <% @bookings.each do |booking| %>
						<tr>
							<td><%= link_to image_tag(booking.foto_annuncio, width: "200", height:220), announcement_path(booking.annuncio_id), "data-turbolinks" =>"false"%></a></td>
							<td><%= booking.titolo_annuncio %></td>
							<td><%= link_to booking.nome_prenotato, "/feedbacks?utente=#{booking.proprietario_id}", "data-turbolinks" =>"false"  %></td>
							<td><%= booking.created_at %></td>
							<td><%=  link_to 'Messaggia', "/messages/new?destinatario_id=#{booking.proprietario_id}", "data-turbolinks" =>"false"  %></td>
							
							<% if( booking.etichetta_annuncio == 1) %>
                <td><%= link_to 'Elimina prenotazione', booking, method: :delete, data: { confirm: 'Sei sicuro?' }, "data-turbolinks" =>"false"  %></td>
                <td><%=  link_to 'Chiudi', "/chiudi_richiesta?id=#{booking.id}", "data-turbolinks" =>"false"  %>
              <% else %>
                <td colspan="2">&nbsp;</td>
              <% end %>
						</tr>
						<% end %>
					  <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>		  
					</tbody>
        </table>
      </div>
    </div>
  </div>
</section>
