<p id="notice"><%= notice %></p>

<p>
  <strong>Annuncio:</strong>
  <%= @booking.annuncio_id %>
</p>

<p>
  <strong>Proprietario:</strong>
  <%= @booking.proprietario_id %>
</p>

<p>
  <strong>Prenotato:</strong>
  <%= @booking.prenotato_id %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
