<div class="flexslider">
	<ul class="slides">
		<li>
			<%= image_tag("HomeSlide/img1.jpg", :border=>0) %>
				<div class="intro">
					<h1>Smartbucket</h1>
					<p><span>Dona ciò che non ti serve</span></p>
					<p><span>Cerca ciò di cui hai bisogno</span></p>
				</div>
		</li>
		<li>
			<%= image_tag("themes/images/carousel/banner-2.jpg", :border=>0) %>
				<div class="intro">
					<h1>Mid season sale</h1>
					<p><span>Up to 50% Off</span></p>
					<p><span>On selected items online and in stores</span></p>
				</div>
		</li>
	</ul>
</div>
</section>
<section class="header_text">
	Non sai come liberarti di vecchi oggetti che non usi più? ma che magari sono ancora utili e ti dispiace buttarli?
	<br/>Non c'è probelma, utilizza il nostro servizio e dona quelle cose a chi ne ha bisogno grazie a smartbucket!!
</section>
<section class="main-content">
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Vedi <strong>Categorie</strong></span></span>
						</span>
						<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
					</h4>
					<div id="myCarousel" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p>
												<a href="product_detail.html">
													<h2>Auto</h2>
												</a>
											</p>
											<%= image_tag("Temporanei/auto.png", :border => 0, :width => 60) %>
										</div>
									</li>
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p>
												<a href="product_detail.html">
													<h2>Mobili</h2>
												</a>
											</p>
											<%= image_tag("Temporanei/mobil.png", :border => 0, :width => 60) %>
										</div>
									</li>
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p>
												<a href="product_detail.html">
													<h2>Elettrodomestici</h2>
												</a>
											</p>
											<%= image_tag("Temporanei/elettrodomestic.png", :border => 0, :width => 60) %>
										</div>
									</li>
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p>
												<a href="product_detail.html">
													<h2>Casalinghi</h2>
												</a>
											</p>
											<%= image_tag("Temporanei/casalinghi3.png", :border => 0, :width => 60) %>
										</div>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p>
												<a href="product_detail.html">
													<h2>Computer</h2>
												</a>
											</p>
											<%= image_tag("Temporanei/computer1.png", :border => 0, :width => 60) %>
										</div>
									</li>
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p>
												<a href="product_detail.html">
													<h2>Abbigliamenti</h2>
												</a>
											</p>
											<%= image_tag("Temporanei/vestiti.png", :border => 0, :width => 60) %>
										</div>
									</li>
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p>
												<a href="product_detail.html">
													<h2>Libri</h2>
												</a>
											</p>
											<%= image_tag("Temporanei/libri.png", :border => 0, :width => 60) %>
										</div>
									</li>
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p>
												<a href="product_detail.html">
													<h2>Cellulari/Tablet</h2>
												</a>
											</p>
											<%= image_tag("Temporanei/mobile.png", :border => 0, :width => 60) %>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span>
						</span>
						<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
					</h4>
					<div id="myCarousel-2" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">
									.
									<li class="span3">
										<div class="product-box">
											<p>
												<a href="product_detail.html">
													<%= image_tag("themes/images/cloth/bootstrap-women-ware1.jpg") %>
												</a>
											</p>
											<a href="product_detail.html" class="title">Quis nostrud exerci tation</a><br/>
											<a href="products.html" class="category">Quis nostrud</a>
											<p class="price">$17.55</p>
										</div>
									</li>
								.
									.
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
									<li class="span3">
										<div class="product-box">
											<p>
												<a href="product_detail.html">
													<%= image_tag("themes/images/cloth/bootstrap-women-ware1.jpg") %>
												</a>
											</p>
											<a href="product_detail.html" class="title">Know exactly</a><br/>
											<a href="products.html" class="category">Quis nostrud</a>
											<p class="price">$45.50</p>
										</div>
									</li>
								.
								.
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row feature_box">
				<div class="span4">
					<div class="service">
						<div class="responsive">
							<%= image_tag("themes/images/feature_img_2.png") %>
								<h4>MODERN <strong>DESIGN</strong></h4>
								<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
						</div>
					</div>
				</div>
				
			
			</div>
		</div>
	</div>
</section>
.