			<section class="header_text sub">
				<h4><span>Risultato Ricerca</span></h4>
				<p><%=link_to 'prova': "/miostorico"%><p>
			</section>
			<section class="main-content">		
				<div class="row">						
					<div class="span12">								
						<ul class="thumbnails listing-products">
						<% Rails.logger.debug "================================" %>
						<% Rails.logger.debug "#{@announcements.empty?}" %>
						<% Rails.logger.debug "================================" %>
						<% if @announcements.empty? %>
    				<section class="header_text sub">
							<h4><span>La ricerca non ha trovato corrispondenze </span></h4>
						</section>
						<% else %>
							<% @announcements.each do |announcement| %>
								<li class="span3">
									<div class="product-box">
										<span class="sale_tag"></span>												
											<% if (announcement.foto != "")  =%>
												<p><%= link_to image_tag("#{announcement.foto}", class: "foto_annunci_normalizzate"), announcement, "data-turbolinks" =>"false"  %></p>
											<% else %>
												<p><%= link_to image_tag("Temporanei/avatar"), announcement, "data-turbolinks" =>"false"  %></p>
											<% end %>
											<%= link_to announcement.titolo, announcement, class: "title", "data-turbolinks" =>"false"  %><br/>
											<a class="category">[<%= announcement.categoria %>]</a>
									</div>
								</li>
							<% end %>
						</ul>	

						<hr>
						<div class="pagination pagination-small pagination-centered">
							<%= will_paginate @announcements, :previous_label => 'Prec', :next_label => 'Succ', renderer: BootstrapPagination::Rails %>
						</div>
          <% end %>
					</div>
				</div>
			</section>
