<p id="notice"><%= notice %></p>

<h1>Feedback di <%= User.where("id=?",params[:utente]).take.nome %></h1>
<p>Affidabilità dell'utente <%= @media %>%</p>
<table>
  <thead>
    <tr>
      <th>Voto</th>
      <th>Lasciato il</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.voto %></td>
        <td><%= feedback.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
