<p id="notice"><%= notice %></p>

<p>
  <strong>Voto:</strong>
  <%= @feedback.voto %>
</p>

<p>
  <strong>Proprietario:</strong>
  <%= @feedback.proprietario %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
