  <h2>Reset password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
<center>
            <table width="50%" border="0">
              <tr>
                <td>
                    <%= f.label :password, "Nuova password" %><br />
                    <% if @minimum_password_length %>
                      <em>(minimo <%= @minimum_password_length %> caratteri)</em><br />
                    <% end %>
                </td>
                <td><%= f.password_field :password, autofocus: true, autocomplete: "off" %></td>
              </tr>
              <tr>
                <td><%= f.label :password_confirmation, "Conferma nuova password" %></td>
                <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
              </tr>
              <tr>
                <td align="center"><%= f.submit "Cambia password" %></td>
              </tr>
              </table>
<% end %>
</section>
