<!DOCTYPE html>
<html lang="en">
	<head>
	<%= favicon_link_tag %>
		<%= csrf_meta_tags %>
			<title>SmartBucket</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="description" content="">
			<!-- bootstrap -->
			<%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
				<%= stylesheet_link_tag    'bootstrap-responsive.min', media: 'all', 'data-turbolinks-track' => true %>
					<%= stylesheet_link_tag    'themes/css/bootstrappage', media: 'all', 'data-turbolinks-track' => true %>

						<!-- global styles -->
						<%= stylesheet_link_tag    'themes/css/main', media: 'all', 'data-turbolinks-track' => true %>
							<%= stylesheet_link_tag    'themes/css/jquery.fancybox', media: 'all', 'data-turbolinks-track' => true %>

								<!-- scripts -->
								<%= javascript_include_tag "application" %>
								<%= javascript_include_tag 'themes/js/jquery-1.7.2.min', 'data-turbolinks-track' => true %>
									<%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
										<%= javascript_include_tag 'themes/js/superfish', 'data-turbolinks-track' => true %>
											<%= javascript_include_tag 'themes/js/jquery.scrolltotop', 'data-turbolinks-track' => true %>
												<%= javascript_include_tag 'themes/js/jquery.fancybox', 'data-turbolinks-track' => true %>
</head>
    <body>		
		<div id="top-bar" class="container">
    <div class="row">
      <div class="span4">
      </div>
      <div class="span8">
        <div class="account pull-right">
          <ul class="user-menu">
            <% if user_signed_in? %>
              <li>
                <%= link_to "#{current_user.email}", edit_user_registration_path %>
              </li>
              <li>
                <%= link_to 'Logout', destroy_user_session_path, :method => :delete%>
              </li>
              <% else %>
                <li>
                  <%= link_to "Registrati", new_user_registration_path %>
                </li>
                <li>
                  <%= link_to "Login", new_user_session_path %>
                </li>
                <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
      <div class="navbar-inner main-menu">
        <a class="logo pull-left"><%=link_to image_tag("Logo_smartbucket2.png", :border=>0, :class=>"site_logo"), root_path %></a>
        <nav id="menu" class="pull-right">
          <ul>
            <% if user_signed_in? %>
              <li>
                <%= link_to "I tuoi annunci", announcements_path %>
              </li>
              <li>
                <%= link_to "Richieste ricevute", bookings_path %>
              </li>
              <li>
                <%= link_to "Richieste inviate", "/richieste_inviate" %>
              </li>
              <li>
                <%= link_to 'Nuovo annuncio', new_announcement_path %>
              </li>
              <li><li><%= link_to 'Messaggi', messages_path %></li></li>
              <li><a>FAQ</a></li>
              <% else %>
                <li><a>FAQ</a></li>
                <% end %>
          </ul>
        </nav>
      </div>
    </section>


<%= yield =%>

      <section id="footer-bar">
        <div class="row">
          <div class="span3">
            <h4>Navigation</h4>
            <ul class="nav">
              <li><a href="./index.html">Homepage</a></li>
              <li><a href="./about.html">FAQ</a></li>
              <li><a href="./contact.html">Contattaci</a></li>
              <li><a href="./register.html">Login</a></li>
            </ul>
          </div>
          <div class="span4">
            <h4>Il mio account</h4>
            <ul class="nav">
              <li><a href="#">Il mio account</a></li>
              <li><a href="#">I tuoi annunci </a></li>
              <li><a href="#">Storico ordini</a></li>
              <li><a href="#">Messaggi</a></li>
            </ul>
          </div>
          <div class="span5">
            <p class="logo">
              <%= image_tag("Logo_smartbucket2.png", :border=>0, :class=>"site_logo") %>
            </p>
            <p>Non sai come liberarti di vecchi oggetti che non usi più? ma che magari sono ancora utili e ti dispiace buttarli?<br/>Non c'è probelma, utilizza il nostro servizio e dona quelle cose a chi ne ha bisogno grazie a smartbucket!!</p>
            <br/>
          </div>
        </div>
      </section>
      <section id="copyright">
        <span>Copyright 2013 bootstrappage template  All right reserved.</span>
      </section>
		</div>
  <%= javascript_include_tag 'themes/js/common', 'data-turbolinks-track' => true %>
		<script>
			$(document).ready(function() {
				$('#checkout').click(function (e) {
					document.location.href = "checkout.html";
				})
			});
		</script>	
    </body>
</html>